RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !^https$ [NC]
RewriteRule ^ https://dezmarshall.ru%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.dezmarshall\.ru$ [NC]
RewriteRule ^ https://dezmarshall.ru%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html
